
@{
    ViewBag.Title = "Attendance Approve";
  }

<section class="content">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <section id="loginForm">
                <div class="box box-warning">
                    <div class="box-body chat" id="chat-box">
                        <div class="item">

                            <center>
                                <h2 style="color: green">
                                    @ViewData["ErrorMsg"]

                                </h2>
                            </center>


                        </div>
                    </div>

                </div>
            </section>
        </div>
    </div>
</section>
 