@{
    ViewBag.Title = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/>
<section class="content">
    <div class="row">
        <section class="col-md-12">        
                <div class="" style="color: red;">                    
                      <h2>Access Denied.</h2>                 
                </div>          
        </section>
    </div>
</section>
