@using edueTree.Helpers
@model IEnumerable<edueTree.Models.Designation>
@{
    Layout = null;
}       
            <div class="box box-success">
                <div class="box-header">
                    <i class="fa fa-calendar"></i>
                    <h3 class="box-title">Designation List</h3>                    
                </div>
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table table-fixed">
                            <thead>
                            <tr>
                                <th>Designation</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="col-xs-10">
                                            @Html.DisplayFor(modelItem => item.designation1)
                                        </td>
                                        <td>
                                            @Html.EncodedActionLink("<i class='fa fa-pencil-square'></i>", "Edit", "Designation", new { id = item.designationId }, null)
                                        </td>
                                        <td>
                                            <a data-toggle="modal" data-target="#myModalPermissionDelete" href='@Url.Action("Delete", new {id = item.designationId})'><i class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

<div class="modal fade" id="myModalPermissionDelete" role="dialog"></div>
<script>
    $(function () {
        //$.noConflict();
        //$("#example1").DataTable();
        $(document).ready(function () {
            $('.table').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        });

    });

</script>