@using edueTree.Helpers
@model IEnumerable<edueTree.Models.TblPayheadType>
@{
    Layout = null;
}



<div class="box box-success">
    <div class="box-header">
        <i class="fa fa-calendar"></i>
        <h3 class="box-title">Pay Head Type</h3>
    </div>
    <div class="box-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Pay Head Type")
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @{
                int count = 1;
            }
            @foreach (var item in Model)
            {

                <tr>                  
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.EncodedActionLink("<i class='fa fa-pencil-square'></i>", "Edit", "PayheadsType", new { id = item.Id }, null)
                    </td>
                    <td>
                        <a data-toggle="modal" data-target="#myModalpayheadDelete" href='@Url.Action("DeletePayheadType", new { id = item.Id })'><i class="fa fa-trash"></i></a>
                    </td>

                </tr>
                count++;
            }
            </tbody>
        </table>
        <div class="modal fade" id="myModalpayheadDelete" role="dialog"></div>
        <br />
    </div>
</div>
<script>
    $(function () {
        $(document).ready(function () {
            $('.table').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        });

    });
</script>

