<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />    
  </configSections>
	
  <connectionStrings>
	  <!--<add name="edueTreeContainer" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=19_May_2017_Payroll;Integrated Security=True" providerName="System.Data.SqlClient" />
	  <add name="dbContainer" connectionString="metadata=res://*/Models.dbContain.csdl|res://*/Models.dbContain.ssdl|res://*/Models.dbContain.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDb)\v11.0;initial catalog=19_May_2017_Payroll;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

  <add name="edueTreeContainer" connectionString="Data Source=SERVER-2-PC;Initial Catalog=Hrms_09_Jan_2018; User ID=sa;Password=sa; Integrated Security=True" providerName="System.Data.SqlClient" />
	<add name="dbContainer" connectionString="metadata=res://*/Models.dbContain.csdl|res://*/Models.dbContain.ssdl|res://*/Models.dbContain.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVER-2-PC;initial catalog=Hrms_09_Jan_2018; User ID=sa;Password=sa; integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

      <!--<add name="edueTreeContainer" connectionString="Data Source=182.50.133.110;Initial Catalog=swapnilrgupta_HrmsPortal;User ID=S_HrmsPortal;Password=HRMS@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
	  <add name="dbContainer" connectionString="metadata=res://*/Models.dbContain.csdl|res://*/Models.dbContain.ssdl|res://*/Models.dbContain.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=182.50.133.110;initial catalog=swapnilrgupta_HrmsPortal;User ID=S_HrmsPortal;Password=HRMS@123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
	  
  </connectionStrings>

  <appSettings>
    <add key="umbracoUseMediumTrust" value="false" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="UseDefaultCredentials" value="false" />
    <add key="enableSimpleMembership" value="true" />
    <add key="ToEmail" value="innovativefusiontest@gmail.com" />
    <add key="UserID" value="innovativefusiontest@gmail.com" />
    <add key="Password" value="innovate123" />
    <add key="SMTPPort" value="587" />
    <add key="Host" value="smtp.gmail.com" />
    <add key="MERCHANT_KEY" value="cOyLul" />
    <add key="SALT" value="sOpcIt7y" />
    <add key="PAYU_BASE_URL" value="https://secure.payu.in/_payment" />
    <add key="action" value="" />
    <add key="hashSequence" value="key|txnid|amount|productinfo|firstname|email|udf1|udf2|udf3|udf4|udf5|udf6|udf7|udf8|udf9|udf10" />


	  <add key="token" value="ommpggB4d7COqL-FE44qacDWk8YFVoZad4mfy0Kr4MGtxaivUuDt1x5c7tS"/>
	  <add key="paypalemail" value="swapnil@innovative-fusion.com"/>
	  <add key="FailedURL" value="http://people.innovative-fusion.com/Return/Return1"/>
	  <add key="SuccessURL" value="http://people.innovative-fusion.com/Return/paypal"/>
  
  </appSettings>
	
  <system.web>
    <authentication mode="None">
      <forms name=".ASPXAUTH" cookieless="UseCookies" timeout="180" slidingExpiration="true" />
    </authentication>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="15000" />
    <globalization uiCulture="en-US" culture="en-US" />
    <customErrors mode="Off" />
    <trust level="Full" />	 
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />   
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>

   
    <httpErrors errorMode="Detailed"></httpErrors>
    <directoryBrowse enabled="true" />
    <modules>
      <add name="BundleModule" type="System.Web.Optimization.BundleModule" />
      <remove name="FormsAuthenticationModule" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.Identity.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.6.0" newVersion="4.1.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
		
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
		
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
  </assemblyBinding>
  </runtime>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>