@{
    ViewBag.Title = "Features";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Shift Management System | Innovative Fusion";
    ViewBag.MetaDescription = "Innovative Fusion shift management system allows you to  plan, organize, manage shifts of your employee's and scope of work easily and efficiently.";
    ViewBag.MetaKeywords = "shift management system, shift management";
}

@*<link type="text/css" rel="stylesheet" href="//cz.zohostatic.com/sites/default/files/advagg_css/css__zVi9nx0jcXdlYeof5rqaLAeqWj4fsN9DknApfk0A1VY__CcslNrd3QLk65cKhpMqxbDrffIocIovCbZ0lc05zFO8__4QoN5NU1fGaAPHqn0AaDsuPKA310WgjQ2tkuIj-wU6M.css" media="all">*@
<link href="~/Content/14295.css" rel="stylesheet" />
<link href="~/Content/zohocustom.css" rel="stylesheet" />
<link type="text/css" rel="stylesheet" href="//cz.zohostatic.com/sites/default/files/advagg_css/css__rj_qKboswMyY_8YRxWouCOr8pDn4VbPMlR-msC8J9IM__SPznXVepJwxJ3z317eIAFB2QqkJfckVJSo6OJojuIMk__4QoN5NU1fGaAPHqn0AaDsuPKA310WgjQ2tkuIj-wU6M.css" media="all">
<link type="text/css" rel="stylesheet" href="//cz.zohostatic.com/sites/default/files/cpn/8146.css?" media="all">
<link type="text/css" rel="stylesheet" href="//cz.zohostatic.com/sites/default/files/advagg_css/css__Vah219wvuSPnA34MNg64jiALnOf6xYZwjco_EDYmyD8__kPsGD5fuH7s1d8GeuM7r3JlEmwcDhZ4D4jrT7gh4BcE__4QoN5NU1fGaAPHqn0AaDsuPKA310WgjQ2tkuIj-wU6M.css" media="all"><!-- HTML5 element support for IE6-8 --><!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<script type="text/javascript" src="//jz.zohostatic.com/sites/default/files/advagg_js/js__AgRatc2YgA7Bc7HSwg4rBd7IipyLsWSayBINYqo0tlw___N9EsaqrQbkHVwIcGUZyGWiEKeh4TwOKolXJ15kdGAw__4QoN5NU1fGaAPHqn0AaDsuPKA310WgjQ2tkuIj-wU6M.js"></script>
@*<script type="text/javascript" src="//jz.zohostatic.com/sites/all/themes/zoho/scripts/zohocustom.js?"></script>*@


<script src="~/Scripts/zoho1.js"></script>


<body class="html not-front not-logged-in no-sidebars page-node page-node- page-node-8146 node-type-features og-context og-context-node og-context-node-3434 i18n-en">
    <script type="text/javascript">
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
            var f = d.getElementsByTagName(s)[0];
            var j = d.createElement(s);
            var dl = l != 'dataLayer' ? '&l=' + l : '';
            j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
            j.type = 'text/javascript';
            j.async = true;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KBNVHH');
    </script><!-- End Google Tag Manager -->
    <div class="main-container-wrapper">
        <div class="main-container blog">
            <div class="row nomargin">
                <section>
                    <div class="region region-content">
                        <section id="block-panels-mini-people-request-demo" class="block block-panels-mini clearfix">
                            <div id="mini-panel-people_request_demo">

                                <style>
                                    .req-demo-wrap {
                                        max-width: 350px;
                                        width: 100%;
                                    }

                                    .demo-form {
                                        box-sizing: border-box;
                                        padding: 10px 0 5px 0;
                                        position: relative;
                                        width: 100%;
                                    }

                                        .demo-form label {
                                            color: #666;
                                            display: block;
                                            font-size: 14px;
                                            font-weight: 400;
                                            line-height: 22px;
                                            padding-bottom: 5px;
                                        }

                                    .req-text {
                                        border: 1px solid #e4e4e4;
                                        box-sizing: border-box;
                                        font-size: 14px;
                                        padding: 2px 5px;
                                        width: 100%;
                                        font-weight: 400;
                                        margin-bottom: 5px;
                                    }

                                    .demo-form select, .demo-form textarea {
                                        width: 100%;
                                        display: inline-block;
                                        border: 1px solid #e4e4e4;
                                        box-sizing: border-box;
                                        padding: 2px 5px;
                                    }

                                    .btn {
                                        -moz-user-select: none;
                                        background-image: none;
                                        border: 1px solid transparent;
                                        border-radius: 0px;
                                        cursor: pointer;
                                        display: inline-block;
                                        font-size: 14px;
                                        font-weight: normal;
                                        line-height: 1.42857;
                                        margin-bottom: 0;
                                        padding: 6px 25px;
                                        text-align: center;
                                        vertical-align: middle;
                                        white-space: nowrap;
                                    }

                                    input, button, select, textarea {
                                        font-size: 14px;
                                    }

                                    .request-drop-wrap.open .request-form-wrap {
                                        width: 330px;
                                    }

                                    #mini-panel-people_request_demo .red {
                                        color: red;
                                        font-weight: normal;
                                        padding-left: 3px;
                                    }
                                </style>
                            </div>
                        </section>
                        <section id="block-system-main" class="block block-system clearfix">
                            <div class="panel-display container-fluid padding0i">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0i backend-layout-top">
                                        <div class="panel-panel panel-region-preface">
                                            <div class="inside">
                                                <div class="views-table cols-0">
                                                    <div class="features-item right-image">
                                                        <div class="content-wrap">
                                                            <div class="cont-part">
                                                                <h2>
                                                                    <a>Shift Management</a>
                                                                </h2>
                                                                <p>Shift in an organization help to maintain discipline of checkin’s and checkout’s for employees.</p><ul class="related mT10"><li>Easily create and manage shifts for employees across teams</li><li>you can easily manage rotational shift. What's more, hrms also supports American, British, Australian shifts!</li><li>Multiple shifts can be assigned to one employee</li><li>Report of Number of times an employee comes in a shift per month, i.e. shift count</li></ul> <a href="#"></a>
                                                            </div>
                                                            @*<div class="cont-part">
                                                                    <br /><br /><br /><br />
                                                                    <p></p><ul class="related mT10"><li>Multiple shifts can be assigned to one employee</li><li>Report of Number of times an employee comes in a shift per month, i.e. shift count</li></ul>
                                                                </div>*@
                                                            <div class="text-center">
                                                                <div class="ds-1col file file-image file-image-png view-mode-default clearfix">
                                                                    <img src="~/Content/images/Shift-management-innovative-fusion-innopeople.png" alt="" />
                                                                </div>
                                                            </div>
                                                            <div class="html-part"></div>
                                                        </div>
                                                        <div class="promo-wrap"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="container padding0i">
                                    <div class="row">
                                        <div class="panel-panel panel-region-preface backend-layout-right full-width">
                                            <div class="inside">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>
